body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .sticky-header {
    background-color:blueviolet;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .content {
    height: 500px; /* just to make scroll visible */
    padding: 20px;
  }
  .image-box{
    position: relative; 
    /* left: 0; */
    /* top: 0; */
    border: 2px solid green;
  }

  img{
    width: 100vw;
  }
  
  .caption {
    position: absolute;
    /* left: 0px;
    bottom: 45px; */
    background-color: rgba(0, 0, 0, 0.6);
    color: red;
    padding: 20px 10px;
    /* border-radius: 5px; */
  }
  
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  